body {
  height: 100%;
  width: 100%;
  background-color: #ECEBE2;
  font-family: "Copperplate", Patua-one;
  margin: 0px;
  padding: 0px;
  color: #223745;
}

.layout{
  display:flex;
  flex-direction: column;
}

.header {
  margin: 0px;
  padding: 0px;
  height: 80px;
  background-color: #223745;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration-line: none;
}

.icon {
  width: 5%;
  padding-right: 10px;
}

.link {
  color: #ECEBE2;
  text-decoration-line: none;
}

h1 {
  align-items: center;
  text-align: center;
  font-size: 30px;
  text-decoration-line: none;
  font-family: "Bungee";
}

.tabs{
  display:flex;
  flex-direction: row;
}
.tablink {
  background-color: #95A8AC;
  color: #223745;
  text-align: center;
  float: left;
  border-left: 0.1px solid #223745;
  border-top: 0.1px solid #223745;
  outline: none;
  cursor: pointer;
  padding: 10px 14px;
  font-family: "Copperplate", fantasy;
  font-size: 18px;
  width: 33.33333%;
  margin-bottom: 20px;
}

.tablink:hover {
  background-color: #223745;
  color: #ECEBE2;
  border-top: 0.1px solid white;
  font-family: "Copperplate", fantasy;
}

.homeImg {
  margin: 35px 15px 20px 15px;
}

.homeImg img {
  width: 400px;
  height: 400px;
  margin: 10px 25px 10px 10px;
  overflow: hidden;
  float: left;
}

#card-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 20px;
}

 .card {
  width: 300px;
  border: 1px solid #223745;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.card-content {
  padding: 20px;
  font-family: "Copperplate", Patua-one;
  color: #223745;
}

.card-content h2 {
  margin: 0 0 10px 0; 
  padding: 5px 10px;   
  background-color: #95A8AC;
  font-size: 20px;
  border-radius: 4px;
}

.card img {
  width: 100%;
  height: auto;
  border: 2px solid #223745;
  border-radius: 4px;
  margin-bottom: 10px;
}