html, body{
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #ECEBE2;
  font-family: "Copperplate", Patua-one;
  margin: 0px;
  padding: 0px;
  color: #223745;
}

.layout{
  display:flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #223745;
  height: 80px;
  padding: 0 10px;
}


.logo-fixed {  
  position: fixed;
  top: 7px;       
  left: 200px;    
  height: 70px;   
  z-index: 1;   
}

.sidebar-title {
  color: #ECEBE2;
  font-family: "Bungee";
  margin-left: 10px;
  font-size: 26px;
}

.link {
  color: #ECEBE2;
  text-decoration-line: none;
}

h1 {
  align-items: center;
  text-align: center;
  text-decoration-line: none;
  font-family: "Bungee";
}
.main-layout {
  display: flex;
  margin-left: 220px;

}

.menubar .header {
  display: flex;
  align-items: flex-end;
  padding-left: 0px;
  padding-right:0px;
  border-bottom: 2px solid #223745;
  margin-bottom: 0px;
}

.menubar {
  position: fixed;
  padding-top: 0px;
  left: 0;
  height: 100vh;
  width: 240px;
  background-color: #95A8AC;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  z-index: 999; 
}

.menu-buttons {
  padding: 20px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tablink {
  width: 100%;
  padding-top: 80px;
  padding: 12px;
  background-color: #FFFFF0;
  color: #223745;
  border: 2px solid #223745;
  border-radius: 8px;
  font-family: "Copperplate", fantasy;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
}

.tablink:hover {
  background-color: #223745;
  color: #ECEBE2;
}

.search-box {
  width: 100%;
  background-color: #FFFFF0;
  border: 2px solid #223745;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 14px;
  font-family: "Copperplate", fantasy;
  box-sizing: border-box;
}

.search-box:hover {
  background-color: #FFFFF0;
  color: #ECEBE2;
}

#searchInput {
  flex: 1;
  padding: 0;
  font-size: 14px;
  border: none;
  background-color: transparent;
  font-family: "Copperplate", fantasy;
  color: #223745;
  outline: none;
}

#searchButton {
  background: none;
  border: none;
  cursor: pointer;
  color: #223745;
  font-size: 16px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#searchButton:hover {
  color: #223745;
  transform: scale(2.0);
}

.menubar-message {
  padding: 20px;
  font-size: 15px;
  font-family: "Copperplate", fantasy;
  color: white;
  text-align: left;
  line-height: 1.5;
  border: 2px dashed #223745;
  margin: 0px 20px 30px 20px;
  background-color: #A7B8BA;
  border-radius: 10px;
}

.no-match {
  display: none;
  font-family: "Copperplate", fantasy;
  font-size: 20px;
  color: #223745;
  margin-top: 100px;
  margin-left: 100px;
  padding: 20px; */
}

#card-container {
  padding-top: 10px;
  display: flex;
  padding-left: 60px;
  flex-wrap: wrap;
  flex: 1;
}

 .card {
  width: 300px;
  border: 1px solid #223745;
  background-color: #FFFFF0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 5px;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.card-content {
  padding: 20px;
  font-family: "Copperplate", Patua-one;
  color: #223745;
  position: relative;
}

.card-content h2 {
  margin: 0 0 10px 0; 
  padding: 5px 10px;   
  background-color: #95A8AC;
  font-size: 20px;
  border-radius: 4px;
}

.card img {
  width: 100%;
  height:250px;
  object-fit: cover;
  border: 2px solid #223745;
  border-radius: 4px;
  margin-bottom: 10px;
}

.fav-btn {
  position: absolute;
  bottom:6px;
  right: 8px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}